version: '3.8'

services:
  test-db:
    image: postgres:17
    ports:
      - "5433:5432"
    env_file:
      - .env.test
    tmpfs:
      - /var/lib/postgresql/data

  test-redis:
    image: redis:7
    ports:
      - "6380:6379"
    tmpfs:
    - /data