version: '3.8'

services:
  db:
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: rowoon
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: nestjs-practice
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: